@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext");
body {
  background-color: #F5F6F8;
  font-family: 'Cairo', sans-serif;
  direction: rtl; }

.active {
  height: 44px;
  border-radius: 24px 0 0 24px;
  background-color: rgba(46, 212, 122, 0.08);
  color: #2ED47A;
  transition: .5s ease-in-out;
  border-right: 5px solid #2ED47A !important; }
  .active a {
    color: #2ED47A; }
    .active a i {
      color: #2ED47A; }
  @media screen and (max-width: 590px) {
    .active {
      width: 14vh;
      height: 30px; } }
  .active a {
    color: #2ED47A; }

.home {
  padding: 0; }
  .home .col-2 {
    background-color: #FFF;
    box-shadow: -6px 0 18px 0 rgba(0, 0, 0, 0.06);
    padding: 15px 0;
    height: 100vh;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 100;
    /* Stay on top */
    top: 0;
    right: 0; }
    .home .col-2 aside img {
      margin-bottom: 15px; }
    .home .col-2 aside hr {
      background-color: #EBEFF2; }
    .home .col-2 aside ul {
      margin: 30px 0px 30px 30px; }
      .home .col-2 aside ul li {
        margin-right: -40px;
        height: 44px;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 24px 0 0 24px;
        line-height: 2.5;
        padding-right: 5px;
        border-right: 5px solid transparent; }
        .home .col-2 aside ul li a {
          text-decoration: none;
          color: #334D6E; }
          .home .col-2 aside ul li a:hover {
            text-decoration: none; }
          .home .col-2 aside ul li a .fa {
            color: #334D6E;
            margin-left: 15px; }
        .home .col-2 aside ul li:hover {
          height: 44px;
          border-radius: 24px 0 0 24px;
          background-color: rgba(46, 212, 122, 0.08);
          color: #2ED47A;
          transition: .5s ease-in-out;
          border-right: 5px solid #2ED47A !important; }
          .home .col-2 aside ul li:hover a {
            color: #2ED47A; }
            .home .col-2 aside ul li:hover a i {
              color: #2ED47A; }
          @media screen and (max-width: 590px) {
            .home .col-2 aside ul li:hover {
              width: 14vh;
              height: 30px; } }
    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      .home .col-2 img {
        width: 70%; }
      .home .col-2 aside ul li {
        width: 170%; } }
    @media screen and (min-width: 677px) and (max-width: 1023px) {
      .home .col-2 aside img {
        margin-bottom: 10px;
        width: 75%; }
      .home .col-2 aside ul li {
        width: 210%;
        font-size: 12px;
        line-height: 3.5;
        margin-bottom: 10px; }
      .home .col-2 aside ul li a .fa {
        color: #334D6E;
        margin-left: 5px; } }
    @media screen and (min-width: 401px) and (max-width: 676px) {
      .home .col-2 aside img {
        margin-bottom: 10px;
        width: 75%; }
      .home .col-2 aside ul li {
        width: 20vh;
        font-size: 7px;
        line-height: 4.5;
        height: 30px;
        margin-bottom: 10px; }
      .home .col-2 .home .col-2 aside ul li a .fa {
        color: #334D6E;
        margin-left: 5px; } }
    @media screen and (max-width: 410px) {
      .home .col-2 aside img {
        margin-bottom: 10px;
        width: 75%; }
      .home .col-2 aside ul li {
        width: 14vh;
        font-size: 6px;
        line-height: 4.5;
        height: 25px;
        margin-bottom: 7px; }
      .home .col-2 .home .col-2 aside ul li a .fa {
        color: #334D6E;
        margin-left: 5px; } }
  .home .col-10 header {
    margin-bottom: 60px; }
    .home .col-10 header .bg-light {
      -webkit-box-shadow: 0 4px 2px -2px rgba(204, 204, 204, 0.5);
      box-shadow: 0 4px 2px -2px rgba(204, 204, 204, 0.5);
      background-color: #fff !important;
      height: 60px;
      position: fixed;
      /* Set the navbar to fixed position */
      top: 0;
      /* Position the navbar at the top of the page */
      width: 100%;
      z-index: 99;
      padding: 17px 60px; }
      .home .col-10 header .bg-light ul li a {
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 26px;
        color: #334D6E; }
        .home .col-10 header .bg-light ul li a i {
          margin-left: 10px; }
    @media screen and (max-width: 590px) {
      .home .col-10 header .bg-light {
        padding: 17px 10px; }
      .home .col-10 header .bg-light ul li a {
        font-size: 12px; }
      .home .col-10 header .home .col-10 header .bg-light ul {
        margin: 0 auto;
        text-align: center; }
      .home .col-10 header .home .col-10 header .bg-light .mr-auto {
        text-align: center; } }
  .home .col-10 .content {
    position: relative;
    z-index: 90;
    left: -25%;
    top: 60px;
    bottom: 60px;
    width: 90%; }
    .home .col-10 .content .table {
      text-align: center;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid rgba(46, 212, 122, 0.5); }
      .home .col-10 .content .table th {
        text-align: center;
        border: 1px solid rgba(46, 212, 122, 0.5); }
      .home .col-10 .content .table td {
        border: 1px solid rgba(46, 212, 122, 0.5);
        border-radius: 4px; }
      .home .col-10 .content .table .btn {
        cursor: pointer; }
      .home .col-10 .content .table .btn-outline-info {
        border-radius: 4px;
        background-color: #FFF;
        border: 2px solid #2ED47A;
        color: #2ED47A;
        width: 40%; }
        .home .col-10 .content .table .btn-outline-info:hover {
          color: #2ED47A; }
      .home .col-10 .content .table .btn-outline-danger {
        width: 40%;
        border-radius: 4px;
        background-color: #FFF;
        border: 2px solid #F76858;
        color: #F76858; }
        .home .col-10 .content .table .btn-outline-danger:hover {
          color: #F76858; }
      @media screen and (max-width: 1024px) {
        .home .col-10 .content .table .btn-outline-info,
        .home .col-10 .content .table .btn-outline-danger {
          width: 45%;
          padding: 10px; } }
      @media screen and (max-width: 590px) {
        .home .col-10 .content .table .btn-outline-info,
        .home .col-10 .content .table .btn-outline-danger {
          width: 95%;
          padding: 8px;
          margin: 10px auto; }
        .home .col-10 .content .table th,
        .home .col-10 .content .table td {
          font-size: 10px; } }
    .home .col-10 .content .head .form-group {
      display: inline-block;
      margin-left: 10px; }
      .home .col-10 .content .head .form-group label {
        color: #192A3E;
        font-weight: normal;
        font-size: 14px; }
      .home .col-10 .content .head .form-group .form-control {
        border-radius: 4px;
        background-color: #FFF;
        border: 2px solid rgba(51, 77, 110, 0.5);
        height: 46px; }
    .home .col-10 .content .head .btn {
      padding: 10px 40px !important;
      height: 46px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 4px;
      background-color: #2ED47A;
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
      border: none; }
      .home .col-10 .content .head .btn i {
        margin-left: 10px; }
    @media screen and (max-width: 1024px) {
      .home .col-10 .content .head .btn {
        padding: unset !important; } }
    @media screen and (max-width: 590px) {
      .home .col-10 .content .head .form-group,
      .home .col-10 .content .head .btn {
        width: 95% !important;
        display: block !important;
        margin: 25px auto;
        margin-left: 0; } }
    .home .col-10 .content .head .form-group,
    .home .col-10 .content .head .btn {
      width: 30%; }

.overlay {
  visibility: hidden;
  background-color: gray;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  min-height: 350vh; }
  .overlay:target {
    visibility: visible; }
  .overlay .cancel {
    width: 100%;
    height: 100%;
    position: absolute; }
  .overlay .modals {
    top: -20%;
    width: 850px;
    border-radius: 4px;
    background-color: #FFF;
    max-width: 80%;
    padding: 60px 30px;
    position: relative; }
    .overlay .modals .close {
      position: absolute;
      top: 25px;
      left: 25px;
      font-size: 18px;
      color: #F76858;
      text-decoration: none; }
      .overlay .modals .close i {
        color: #F76858;
        margin-right: 10px; }

#modify .modals {
  width: 50%;
  top: -40%; }
  #modify .modals .form-group {
    margin-bottom: 30px; }
    #modify .modals .form-group label {
      color: #192A3E;
      font-family: "Cairo SemiBold";
      font-size: 16px;
      font-weight: bold; }
    #modify .modals .form-group input {
      height: 40px;
      border-radius: 4px;
      background-color: #FFF;
      border: 2px solid rgba(51, 77, 110, 0.5); }
    #modify .modals .form-group button {
      height: 40px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 4px;
      background-color: #2ED47A;
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
      border: none;
      color: #fff;
      width: 50%; }

#delete .modals {
  width: 40%;
  top: -40%; }
  #delete .modals p {
    color: #192A3E;
    font-family: Cairo;
    font-size: 16px;
    font-weight: 700;
    text-align: center; }
  #delete .modals .bt {
    width: 100%;
    height: 100%;
    text-align: center; }
    #delete .modals .bt button {
      background-color: #fff;
      border: none;
      width: 45%;
      height: 100%; }

@media screen and (max-width: 590px) {
  .home .col-10 .content {
    left: -28%; }

  .home .col-2 {
    flex: 0 0 24.666667%;
    max-width: 24.666667%; }

  .home .col-2 aside ul {
    margin: 30px 0; }

  .home .col-10 header .bg-light ul {
    margin: 0 auto;
    text-align: center; }

  .home .col-10 header .bg-light .mr-auto {
    text-align: center; } }

/*# sourceMappingURL=agri.css.map */
