@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext");
body {
  background-color: #F5F6F8;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

.active {
  height: 44px;
  border-radius: 24px 0 0 24px;
  background-color: rgba(46, 212, 122, 0.08);
  color: #2ED47A;
  transition: .5s ease-in-out;
  border-right: 5px solid #2ED47A !important;
}

.active a {
  color: #2ED47A;
}

.active a i {
  color: #2ED47A;
}

@media screen and (max-width: 590px) {
  .active {
    width: 14vh;
    height: 30px;
  }
}

.active a {
  color: #2ED47A;
}

.home {
  padding: 0;
}

.home .col-2 {
  background-color: #FFF;
  box-shadow: -6px 0 18px 0 rgba(0, 0, 0, 0.06);
  padding: 15px 0;
  height: 100vh;
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100;
  /* Stay on top */
  top: 0;
  right: 0;
}

.home .col-2 aside img {
  margin-bottom: 15px;
}

.home .col-2 aside hr {
  background-color: #EBEFF2;
}

.home .col-2 aside ul {
  margin: 30px 0px 30px 30px;
}

.home .col-2 aside ul li {
  margin-right: -40px;
  height: 44px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 24px 0 0 24px;
  line-height: 2.5;
  padding-right: 5px;
  border-right: 5px solid transparent;
}

.home .col-2 aside ul li a {
  text-decoration: none;
  color: #334D6E;
}

.home .col-2 aside ul li a:hover {
  text-decoration: none;
}

.home .col-2 aside ul li a .fa {
  color: #334D6E;
  margin-left: 15px;
}

.home .col-2 aside ul li:hover {
  height: 44px;
  border-radius: 24px 0 0 24px;
  background-color: rgba(46, 212, 122, 0.08);
  color: #2ED47A;
  transition: .5s ease-in-out;
  border-right: 5px solid #2ED47A !important;
}

.home .col-2 aside ul li:hover a {
  color: #2ED47A;
}

.home .col-2 aside ul li:hover a i {
  color: #2ED47A;
}

@media screen and (max-width: 590px) {
  .home .col-2 aside ul li:hover {
    width: 14vh;
    height: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .home .col-2 img {
    width: 70%;
  }
  .home .col-2 aside ul li {
    width: 170%;
  }
}

@media screen and (min-width: 677px) and (max-width: 1023px) {
  .home .col-2 aside img {
    margin-bottom: 10px;
    width: 75%;
  }
  .home .col-2 aside ul li {
    width: 210%;
    font-size: 12px;
    line-height: 3.5;
    margin-bottom: 10px;
  }
  .home .col-2 aside ul li a .fa {
    color: #334D6E;
    margin-left: 5px;
  }
}

@media screen and (min-width: 401px) and (max-width: 676px) {
  .home .col-2 aside img {
    margin-bottom: 10px;
    width: 75%;
  }
  .home .col-2 aside ul li {
    width: 12vh;
    font-size: 7px;
    line-height: 4.5;
    height: 30px;
    margin-bottom: 10px;
  }
  .home .col-2 .home .col-2 aside ul li a .fa {
    color: #334D6E;
    margin-left: 5px;
  }
}

@media screen and (max-width: 400px) {
  .home .col-2 aside img {
    margin-bottom: 10px;
    width: 75%;
  }
  .home .col-2 aside ul li {
    width: 14vh;
    font-size: 6px;
    line-height: 4.5;
    height: 25px;
    margin-bottom: 7px;
  }
  .home .col-2 .home .col-2 aside ul li a .fa {
    color: #334D6E;
    margin-left: 5px;
  }
}

.home .col-10 header {
  margin-bottom: 60px;
}

.home .col-10 header .bg-light {
  background-color: #fff !important;
  height: 60px;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 99;
  padding: 17px 60px;
}

.home .col-10 header .bg-light ul li a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  color: #334D6E;
}

.home .col-10 header .bg-light ul li a i {
  margin-left: 10px;
}

@media screen and (max-width: 590px) {
  .home .col-10 header .bg-light {
    padding: 17px 10px;
  }
  .home .col-10 header .bg-light ul li a {
    font-size: 12px;
  }
}

.home .col-10 .content {
  position: relative;
  z-index: 90;
  left: -19%;
  top: 60px;
  bottom: 60px;
}

.home .col-10 .content .card {
  padding: 0;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 60px;
}

.home .col-10 .content .card .head {
  margin: 30px;
}

.home .col-10 .content .card .head .p {
  text-align: right;
  font-size: 14px;
  color: #192A3E;
}

.home .col-10 .content .card .head .p i {
  margin-left: 15px;
}

.home .col-10 .content .card .head h3 {
  text-align: center;
  font-weight: bold;
  color: #192A3E;
}

.home .col-10 .content .card .head p {
  text-align: center;
  font-size: 14px;
  color: #192A3E;
}

.home .col-10 .content .card .bottom {
  background-color: #2ED47A;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  background-color: #2ED47A;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  color: #FFF;
}

.home .col-10 .content .card .bottom span {
  text-align: center;
  color: #FFF;
}

.home .col-10 .content .activtes {
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  padding: 15px 30px 15px 30px;
}

.home .col-10 .content .activtes h4 {
  color: #192A3E;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.home .col-10 .content .activtes h6 {
  color: #192A3E;
  font-size: 16px;
  margin-bottom: 15px;
}

.home .col-10 .content .activtes .date {
  color: #334D6E;
  font-size: 12px;
}

.home .col-10 .content .activtes .date ul {
  margin-right: 25px;
  position: relative;
  top: -18px;
}

.home .col-10 .content .activtes .date ul .name {
  font-size: 14px;
  color: #192A3E;
  font-weight: 600;
}

.home .col-10 .content .activtes .date ul .name::before {
  content: "• ";
}

.home .col-10 .content .activtes .date ul .add {
  font-size: 14px;
  color: #334D6E;
}

.home .col-10 .content .activtes .date ul hr {
  background-color: #EBEFF2;
  margin-bottom: 15px;
}

.home .col-10 .content .activtes a {
  text-align: center;
  text-decoration: none;
  color: #2ED47A;
  font-size: 12px;
}

@media screen and (max-width: 590px) {
  .home .col-10 .content {
    left: -28%;
  }
  .home .col-2 {
    flex: 0 0 24.666667%;
    max-width: 24.666667%;
  }
}
