//colors
$green:#2ED47A;
$red:#F76858;
$yellow:#FFB946;
$white:#F5F6F8;
$black:#192A3E;
$blue:#334D6E;
//fonts
$primary_fonts:'Cairo',
sans-serif;
$secondry_fonts: 'Tajawal',
sans-serif;
$FBS:32px;
$FMS:24px;
$FNS:15px;
$b:'bold';