@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic,latin-ext");
body {
  background-color: #F5F6F8;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

.active {
  height: 44px;
  border-radius: 24px 0 0 24px;
  background-color: rgba(46, 212, 122, 0.08);
  color: #2ED47A;
  transition: .5s ease-in-out;
  border-right: 5px solid #2ED47A !important;
}

.active a {
  color: #2ED47A;
}

.active a i {
  color: #2ED47A;
}

@media screen and (max-width: 590px) {
  .active {
    width: 14vh;
    height: 30px;
  }
}

.active a {
  color: #2ED47A;
}

.btn {
  padding: 10px 40px !important;
  cursor: pointer;
  font-size: 14px;
}

.home {
  padding: 0;
}

.home .col-2 {
  background-color: #FFF;
  box-shadow: -6px 0 18px 0 rgba(0, 0, 0, 0.06);
  padding: 15px 0;
  height: 100vh;
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100;
  /* Stay on top */
  top: 0;
  right: 0;
}

.home .col-2 aside img {
  margin-bottom: 15px;
}

.home .col-2 aside hr {
  background-color: #EBEFF2;
}

.home .col-2 aside ul {
  margin: 30px 0px 30px 30px;
}

.home .col-2 aside ul li {
  margin-right: -40px;
  height: 44px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 24px 0 0 24px;
  line-height: 2.5;
  padding-right: 5px;
  border-right: 5px solid transparent;
}

.home .col-2 aside ul li a {
  text-decoration: none;
  color: #334D6E;
}

.home .col-2 aside ul li a:hover {
  text-decoration: none;
}

.home .col-2 aside ul li a .fa {
  color: #334D6E;
  margin-left: 15px;
}

.home .col-2 aside ul li:hover {
  height: 44px;
  border-radius: 24px 0 0 24px;
  background-color: rgba(46, 212, 122, 0.08);
  color: #2ED47A;
  transition: .5s ease-in-out;
  border-right: 5px solid #2ED47A !important;
}

.home .col-2 aside ul li:hover a {
  color: #2ED47A;
}

.home .col-2 aside ul li:hover a i {
  color: #2ED47A;
}

@media screen and (max-width: 590px) {
  .home .col-2 aside ul li:hover {
    width: 14vh;
    height: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .home .col-2 img {
    width: 70%;
  }
  .home .col-2 aside ul li {
    width: 170%;
  }
}

@media screen and (min-width: 677px) and (max-width: 1023px) {
  .home .col-2 aside img {
    margin-bottom: 10px;
    width: 75%;
  }
  .home .col-2 aside ul li {
    width: 210%;
    font-size: 12px;
    line-height: 3.5;
    margin-bottom: 10px;
  }
  .home .col-2 aside ul li a .fa {
    color: #334D6E;
    margin-left: 5px;
  }
}

@media screen and (min-width: 401px) and (max-width: 676px) {
  .home .col-2 aside img {
    margin-bottom: 10px;
    width: 75%;
  }
  .home .col-2 aside ul li {
    width: 20vh;
    font-size: 7px;
    line-height: 4.5;
    height: 30px;
    margin-bottom: 10px;
  }
  .home .col-2 .home .col-2 aside ul li a .fa {
    color: #334D6E;
    margin-left: 5px;
  }
}

@media screen and (max-width: 410px) {
  .home .col-2 aside img {
    margin-bottom: 10px;
    width: 75%;
  }
  .home .col-2 aside ul li {
    width: 14vh;
    font-size: 6px;
    line-height: 4.5;
    height: 25px;
    margin-bottom: 7px;
  }
  .home .col-2 .home .col-2 aside ul li a .fa {
    color: #334D6E;
    margin-left: 5px;
  }
}

.home .col-10 header {
  margin-bottom: 60px;
}

.home .col-10 header .bg-light {
  -webkit-box-shadow: 0 4px 2px -2px rgba(204, 204, 204, 0.5);
  box-shadow: 0 4px 2px -2px rgba(204, 204, 204, 0.5);
  background-color: #fff !important;
  height: 60px;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 99;
  padding: 17px 60px;
}

.home .col-10 header .bg-light ul li a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  color: #334D6E;
}

.home .col-10 header .bg-light ul li a i {
  margin-left: 10px;
}

@media screen and (max-width: 590px) {
  .home .col-10 header .bg-light {
    padding: 17px 10px;
  }
  .home .col-10 header .bg-light ul li a {
    font-size: 12px;
  }
  .home .col-10 header .home .col-10 header .bg-light ul {
    margin: 0 auto;
    text-align: center;
  }
  .home .col-10 header .home .col-10 header .bg-light .mr-auto {
    text-align: center;
  }
}

.home .col-10 .content {
  position: relative;
  z-index: 90;
  left: -25%;
  top: 60px;
  bottom: 60px;
  width: 90%;
}

.home .col-10 .content .btn-info {
  border-radius: 4px;
  background-color: #2ED47A;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  border: none;
}

.home .col-10 .content .btn-info i {
  margin-left: 10px;
}

.home .col-10 .content .btn-outline-info {
  color: #2ED47A;
  border-radius: 4px;
  background-color: #FFF;
  border: 2px solid #2ED47A;
  padding: 8px 24px !important;
}

.home .col-10 .content .btn-outline-info i {
  margin-left: 10px;
}

.home .col-10 .content .card {
  margin: 40px auto;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.home .col-10 .content .card .line {
  width: 100%;
  margin: 10px auto;
}

.home .col-10 .content .card .line label {
  color: #192A3E;
  font-size: 14px;
  font-weight: 700;
}

.home .col-10 .content .card .line label span {
  color: #334D6E;
  font-weight: normal;
  font-size: 14px;
  margin-right: 15px;
}

.home .col-10 .content .card .butons .btn {
  width: 95%;
  padding: 15px 0 !important;
  margin-bottom: 10px;
  font-size: 14px !important;
}

.home .col-10 .content .card .butons .btn-outline-warning {
  border-radius: 4px;
  color: #FFB946;
  background-color: #FFF;
  border: 2px solid #FFB946;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
}

.home .col-10 .content .card .butons .btn-outline-warning:hover {
  color: #FFB946;
}

.home .col-10 .content .card .link {
  color: #F76858;
  text-decoration: none;
  font-size: 12px;
  margin: 25px auto;
}

#data h5 {
  margin-bottom: 50px;
}

#data .modals {
  top: -30%;
}

#delete .modals {
  width: 40%;
  top: -40%;
}

#delete .modals p {
  color: #192A3E;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

#delete .modals .bt {
  width: 100%;
  height: 100%;
  text-align: center;
}

#delete .modals .bt button {
  background-color: #fff;
  border: none;
  width: 45%;
  height: 100%;
}

.overlay {
  visibility: hidden;
  background-color: gray;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  min-height: 350vh;
}

.overlay:target {
  visibility: visible;
}

.overlay .cancel {
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay .modals {
  margin: 30px auto;
  width: 850px;
  border-radius: 4px;
  background-color: #FFF;
  max-width: 80%;
  padding: 60px 30px;
  position: relative;
}

.overlay .modals .close {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 18px;
  color: #F76858;
  text-decoration: none;
}

.overlay .modals .close i {
  color: #F76858;
  margin-right: 10px;
}

.overlay .form-group {
  margin-bottom: 30px;
}

.overlay .form-group label {
  color: #192A3E;
  font-family: "Cairo SemiBold";
  font-size: 16px;
  font-weight: bold;
}

.overlay .form-group input {
  height: 40px;
  border-radius: 4px;
  background-color: #FFF;
  border: 2px solid rgba(51, 77, 110, 0.5);
}

.overlay h5 {
  color: #192A3E;
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0;
}

.overlay .choose {
  margin-left: 15px;
}

.overlay textarea {
  border-radius: 4px;
  background-color: #FFF;
  border: 2px solid rgba(51, 77, 110, 0.5);
}

.overlay .form-check-inline {
  margin-left: 25px;
  margin-bottom: 30px;
}

.overlay .form-check-inline input[type=checkbox],
.overlay .form-check-inline input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  top: 5px;
  left: 20px;
}

.overlay .btn-info {
  height: 46px;
  border-radius: 4px;
  background-color: #2ED47A;
  border: 2px solid #2ED47A;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 1366px) {
  .home .col-10 .content {
    position: relative;
    z-index: 90;
    left: -18%;
    top: 60px;
    bottom: 60px;
    width: 95%;
  }
  .home .col-10 .content .btn-outline-info {
    width: 190px;
    font-size: 11px;
    padding: 10px 15px !important;
  }
}

@media screen and (max-width: 1024px) {
  .home .col-10 .content {
    width: 100%;
  }
  .home .col-10 .content .btn-info {
    width: 190px;
    text-align: center;
    padding: 10px 24px !important;
  }
}

@media screen and (max-width: 590px) {
  .btn {
    margin: 30px auto;
  }
  .home .col-10 header .bg-light ul {
    margin: 0 auto;
    text-align: center;
  }
  .home .col-10 header .bg-light .mr-auto {
    text-align: center;
  }
  .home .col-10 .content {
    left: -24%;
    text-align: center;
  }
  .home .col-2 {
    flex: 0 0 24.666667%;
    max-width: 24.666667%;
  }
  .home .col-10 .content .card {
    text-align: right;
    width: 95%;
    margin: 30px 15px;
  }
  .home .col-10 .content .btn {
    margin: 15px auto;
    width: 85% !important;
  }
  .home .col-10 .content .card .butons .btn {
    width: 95% !important;
  }
}
